<div class="slider">
    <div class="images">
        <img src="/Views/Shared/Image/london.jpg">
        <img src="/Views/Shared/Image/ny.jpg">
        <img src="/Views/Shared/Image/spb.jpg">
    </div>
    <div class="btm-slides">
        <span onclick="btm_slide(1)"></span>
        <span onclick="btm_slide(2)"></span>
        <span onclick="btm_slide(3)"></span>
    </div>
    <div class="arrow left" onclick="side_slide(-1)">
        <span>prev</span>
    </div>
    <div class="arrow right" onclick="side_slide(1)">
        <span>next</span>
    </div>
</div>
